<%= gravatar_for @user %>
<%= @user.username %>
<h4><%= @user.username.capitalize %>'s Dashboard</h4>
<h4>Logged in as <%= @user.username.capitalize %></h4>

<p> <%=  @user.email %></p>

<br>
<br>
<br>

<h4>Your Food Allergies  </h4>
<ol>
  <% @food_allergies.each do |allergy| %>
    <li><%= allergy.name %></li>
    <% end %>
</ol>

<%= link_to "Edit Profile", edit_dashboard_path(@user) %>
